.switch input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.switch {
    position: relative;
    width: 45px;
    height: 22px;

    label {
        width: 45px;
        height: 22px;
        background-color: #d3d3d3;
        position: relative;
        display: inline-block;
        border-radius: 46px;
        transition: 0.4s;
        box-sizing: border-box;

        &:after {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: #fefefe;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            transition: 0.4s;
        }
    }
}

.switch input:checked + label {
    background-color: #0084cf;

    &:after {
        left: 24px;
    }
}
