.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 120px;
  padding: 30px 0;
  margin-top: 24px;
  color: #303030;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vmin;
  width: 100%;
}

.contact a {
  margin: 0 1.2rem;
  color: #0098ff;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vmin;
}
