.header {
  overflow: hidden;
  padding: 20px 10px;

  a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    display: block;

    :hover {
      color: #0098ff;
    }
  }

  @media screen and (max-width: 500px) {
    a {
      float: none;
      display: block;
      text-align: center;
    }

    .links_wrapper {
      display: none;
    }
  }
}

.links_wrapper {
  float: right;
}

/*.links {
  font-size: min(1.6vw, 24px);
}

.link:not(:last-of-type) {
  margin-right: min(2.4vw, 48px);
}

.link:last-of-type {
  margin-right: 0;
}

.link {
  transition: all 0.3s;
  opacity: 1;
  font-family: AvenirNextLTPro-BoldCn, sans-serif;
}

@media (max-width: 600px) {
  .links {
    display: none;
  }
}*/
