.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0098ff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 3rem 0;
}

.content h3 {
  margin: 0;
  line-height: 1.05;
  font-size: 1.6rem;
}

.content p {
  margin: 1.2rem 0;
  line-height: 1.05;
  font-size: 1rem;
}

.content ol,
.content ul {
  margin-top: 0;
  width: 100%;
  line-height: 1;
  font-size: 1rem;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    flex-direction: column;
  }
}
