.section {
  width: min(79.06296vw, 1080px);
  margin-left: auto;
  margin-right: auto;
  padding-top: min(7.32064vw, 100px);
}

@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    grid-gap: 1em;
    grid-template-rows:
      [tracks] auto
      [time-1300] 1fr
      [time-1320] 1fr
      [time-1330] 1fr
      [time-1400] 1fr
      [time-1410] 1fr
      [time-1425] 1fr
      [time-1440] 1fr
      [time-1450] 1fr
      [time-1520] 1fr
      [time-1530] 1fr
      [time-1600] 1fr
      [time-1610] 1fr
      [time-1640] 1fr
      [time-1650] 1fr;

    grid-template-columns:
      [times] 4em
      [track1-start] 1fr
      [track1-end track2-end] 1fr;
    //[track1-end track2-start] 1fr
    //[track2-end track3-start] 1fr
    //[track3-end track4-start] 1fr
    //[track4-end];
  }
}

.trackslot {
  display: none;
}

.timeslot {
  grid-column: times;
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .trackslot {
      display: block;
      padding: 10px 5px 5px;
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.session {
  margin-bottom: 1em;
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .session {
      margin: 0;
    }
  }
}

.session {
  padding: 0.5em;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0, rgba(0, 0, 0, 0.3) 4px 4px 0;
}

.sessionTitle,
.sessionTime,
.sessionTrack,
.sessionPresenter {
  display: block;
}

.sessionTitle,
.timeslot {
  margin: 0;
  font-size: 1em;
}

.sessionTitle {
  min-height: 80px !important;
  height: 8em;
  line-height: 1.4;
  flex-direction: row !important;
  justify-content: flex-start !important;
  font-size: 1.2em !important;
}

.sessionTime {
  font-size: 0.9em;
}

.sessionTitle p {
  color: #fff;
  text-decoration-style: dotted;
}

.trackslot,
.timeslot {
  font-weight: bold;
  font-size: 0.75em;
  color: #000;
}

.rest {
  background-color: #ddd;
  color: #303030;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.track1 {
  background-color: #737cf7;
  color: #fff;
}

.track2 {
  background-color: #705aee;
  color: #fff;
}

.track3 {
  background-color: #a660f5;
  color: #fff;
}

.track4 {
  background-color: #c36feb;
  color: #fff;
}

.allTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  color: #000;
  box-shadow: none;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}

.meta {
  color: #555;
  font-style: italic;
}

.meta a {
  color: #555;
}
