.section {
  width: min(80vw, 1080px);
  margin-left: auto;
  margin-right: auto;
  padding-top: min(7.2vw, 100px);
}

.section h2 {
  width: 100%;
  color: #fefefe;
  background: linear-gradient(22deg, #0098ff, #007acc, #0065a9);
  text-align: center;
  font-size: min(1.6vw, 24px);
  font-family: "UD新ゴ B", sans-serif;
  padding: min(1.6vw, 22px) 0;
  border-radius: min(0.4vw, 5px);
}

.section h3 {
  min-height: 240px;
  padding: 0;
  font-size: min(1.6vw, 24px);
  font-family: "UD新ゴ B", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  margin-top: min(1.8vw, 25px);
  font-size: min(1.6vw, 24px);
  font-family: "UD新ゴ B", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.detail dl {
  margin: 1.2rem 20%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.detail dd {
  a {
    color: #ec28e0;
  }
}

@media (max-width: 600px) {
  .detail dl {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .detail dt {
    text-align: center;
    padding: 1.2rem 0 0;
    margin: 0;
  }

  .detail dd {
    text-align: center;
    padding: 0 0 1.2rem;
    margin: 0;
  }
}
