.section {
  width: min(80vw, 1080px);
  margin-left: auto;
  margin-right: auto;
  padding-top: min(7.2vw, 100px);
}

.section h2 {
  width: 100%;
  color: #fefefe;
  background: linear-gradient(22deg, #0098ff, #007acc, #0065a9);
  text-align: center;
  font-size: min(1.6vw, 24px);
  font-family: 'UD新ゴ B', sans-serif;
  padding: min(1.6vw, 22px) 0;
  border-radius: min(0.4vw, 5px);
}

.staffs {
  font-size: 2.4rem;
  font-family: 'UD新ゴ B', sans-serif;
  display: flex;
  flex-wrap: wrap;

  .icon {
    padding-bottom: 12px;
    width: 50%;

    a {
      margin: 8px;
      display: flex;
      justify-content: center;

      img {
        width: 100px;
        height: 100px;
      }
    }

    :last-child {
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 600px) {
    font-size: 1.6rem;
  }
}

.info {
  margin-left: 12px;
  font-size: 1.4rem;
  font-family: 'UD新ゴ B', sans-serif;
  width: 320px;
  display: flex;
  align-items: center;
  vertical-align: middle;

  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

.icon img {
  border-radius: min(0.4vw, 5px);
}

@media (max-width: 600px) {
  .staffs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .icon {
      width: 100%;

      a {
        margin: 8px;

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
