.tag {
  display: inline-block;
  padding: 0 7px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #f51d65;
  background-color: transparent;
  border: 1px solid #f51d65;
  border-radius: 2em;
}
