.concept {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: min(1080px, 100%);
  }
}

@media (max-width: 600px) {
  .concept {
    img {
      width: 100%;
      height: 200px;
      max-width: 100%;
    }
  }
}
