.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.container {
  position: relative;
  height: 0;
  padding-bottom: 35%;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

@media (max-width: 600px) {
  .player {
    position: relative;
    max-width: 100%;
  }
}
